:root {
  --text: #2b2b3a;
  --blue-background: #0d3c7c;
  --normal: #1ed2f4;
  --hover: #eafc40;
  --alt: #f5ce28;
  --white: #fff;
  --links: rgb(0, 94, 184);
}

* {
  font-family: "Commissioner", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--links);
}

img {
  max-width: 100%;
  height: auto;
}

ul[data-indent="0"] { margin-left: 0; }
ul[data-indent="1"] { margin-left: 40px; }
ul[data-indent="2"] { margin-left: 80px; }
ul[data-indent="3"] { margin-left: 120px; }
ul[data-indent="4"] { margin-left: 160px; }
ul[data-indent="5"] { margin-left: 200px; }
